[submodule "nrf51-pure-gcc-setup"]
	path = nrf51-pure-gcc-setup
	url = https://github.com/samueldotj/nrf51-pure-gcc-setup.git
[submodule "nrf51-sdk"]
	path = nrf51-sdk
	url = https://github.com/astraliot/nrf51-sdk.git
